<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966744294847-6gf7cudl56a474p5qpo4k101hjisfv7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966744294847-6gf7cudl56a474p5qpo4k101hjisfv7p</string>
	<key>API_KEY</key>
	<string>AIzaSyCZpOD2XMRy49Oc4_iZK8BtBWy3drNnlH8</string>
	<key>GCM_SENDER_ID</key>
	<string>966744294847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.test2</string>
	<key>PROJECT_ID</key>
	<string>test-2-2bfd5</string>
	<key>STORAGE_BUCKET</key>
	<string>test-2-2bfd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966744294847:ios:0be3274d369ad1aaef4d0a</string>
</dict>
</plist>